/* LIGHT MODE */

:root {
    --color: black;
    --color-link: #0000EE;
    --color-h2: black;
    --color-code: black;
    --backgound-color: white;
}

/* TAGS */

html {
    height: 100%;
}

body {
    max-width: 42rem;
    height: 100%;
    margin: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0.5em;
    line-height: 1.5em;
    color: var(--color);
    word-break: break-word;
}

h2 {
    background-color: #eee;
    padding: 0.25rem 1rem;
    margin: 2rem -1rem 1rem -1rem;
    color: var(--color-h2);
    text-transform: uppercase;
    font-size: 1.3rem;
}

a, a:visited {
    color: var(--color-link);
}

footer {
    border-top: 1px dotted var(--color);
    margin: 2rem 0 0 0;
    font-size: smaller;
}

details {
    cursor: pointer;
}

details > ol {
    margin: 0;
}

/* CLASSES */

.container {
    height: 100%;
}

.btn-link {
    text-decoration: none;
    margin: 0 0 0 0.25rem;
}

/* CURSOR */

.logo-cursor {
    -webkit-animation: cursor 1.2s infinite;
    animation: cursor 1.2s infinite;
    background: var(--color-link);
    border-radius: 1px;
    display: inline-block;
    height: 1.5rem;
    width: 15px;
}

@-webkit-keyframes cursor {
    0% { opacity: 0 }
    50% { opacity: 1 }
    to { opacity: 0 }
}

@keyframes cursor {
    0% { opacity: 0 }
    50% { opacity: 1 }
    to { opacity: 0 }
}

/* MADE WITH LOVE */

.passion-design {
    display: inline-block;
    color: var(--color-link);
    transform: rotate(-4deg);
    font-family: 'Comic Sans MS', 'Comic Sans', 'Papyrus', Courier, Arial;
    animation-name: pulsate;
    animation-duration: 0.5s;
    animation-iteration-count: 16;
}

@keyframes pulsate
{
    0% { transform: rotate(-4deg) scale(1.00); }
    50% { transform: rotate(-4deg) scale(0.98); }
    100% { transform: rotate(-4deg) scale(1.00); }
}

/* COLOPHON */

.entry {
    display: flex;
    width: 100%;
    white-space: nowrap;
    font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
    font-size: 0.9em;
}

.dots {
    width: 100%;
    background: radial-gradient(circle at 50% 0.8em, var(--color) 8%, transparent 8%);
    background-size: 0.5em;
    background-repeat: repeat-x;
    margin: 0 0.5rem;
}

/* FLASHLIGHT */

#btn-flashlight {
    display: none;
}

#flashlight {
    position: fixed;
    z-index: 1;
    pointer-events: none;
    width: 250px;
    height: 250px;
    border-radius: 100%;
}

#flashlight.soft_light {
    background-color: white;
    mix-blend-mode: soft-light;
    filter: blur(10px);
}

/* SAVE THE WORLD */

#save {
    text-align: center;
}

#spinner, #saved {
  display: none;
  cursor: default;
  margin: 0;
  padding: 0;
}

/* COLORS CHANGING */

.x {
    -webkit-animation: colors 20s infinite;
    animation: colors 60s infinite;
}

@keyframes colors
{
    0% {
        color: var(--color);
    }
    16% {
        color: blue;
    }
    50% {
        color: green;
    }
    82% {
        color: red;
    }
    100% {
        color: car(--color);
    }
}

/* ADMIN FORM */

.admin_error {
    display: none;
    color: red;
    font-size: smaller;
}

.hacker {
    text-align: center;
    background-color: blue;
    max-width: 100%;
    color: white;
    font-weight: bold;
    letter-spacing: 0.2em;
    line-height: 2.5em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-animation: police 0.07s infinite alternate;
    animation: police 0.07s infinite alternate;
}

#warning_sound {
    display: none;
}

@keyframes police {
    0% {
        background-color: red;
    }

    100% {
        background-color: blue;
    }
}

/* DON'T CLICK HERE */

#dont {
    -webkit-animation: blink 10s step-end infinite;
    animation: blink 10s step-end infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
}

15% {
    opacity: 0;
}
}

.rorchach_container {
    color: black;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.rorchach_container input {
    color: black;
    outline: none;
    border: 1px solid black;
} 

#rorchach {
    width: 100%;
}

.rorchach_image {
    width: 100%;
    height: 450px;
    background: url("img/inkBlob.webp") no-repeat center center;
    -webkit-animation: rorchachImage forwards 4s;
    animation: rorchachImage forwards 4s;
}

@keyframes rorchachImage {
    0% {
        background: url("img/inkBlob.webp") no-repeat center center;
    }

    100% {
        background: url("img/inkBlob2.webp") no-repeat center center;
    }
}

.rorchach_text {
    color: black;
    -webkit-animation: fadeIn forwards 2s;
    animation: fadeIn forwards 2s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
     opacity: 1;
 }
}

@keyframes rorchachEnd {
    to {
        background-color: black;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* DARK MODE */

@media (prefers-color-scheme: dark) {
    :root {
        --color: white;
        --backgound-color: rgb(29, 32, 31);
        --color-link: #ffff11;
    }

    body {
      filter: invert (100%);
      background-color: rgb(29, 32, 31);
      color: var(--color);
  }

  a, a:hover, a:visited {
      color: var(--color-link);
  }

  #btn-flashlight {
    display: inline;
}
}